body {
    background-color: #F7F8FC;
    font-family: YuGothicM;
    letter-spacing: 0.05em;
    color: #333333;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.header .logo {
    width: 205px;
}

.header .logo img {
    width: 100%;
    height: auto;
}

.header .area-login {
    display: flex;
    align-items: center;
    color: #6F8AE4;
}

.header .area-logged .about {
    margin-left: 40px;
    margin-right: 20px;
}

.header .area-logged .has-notify {
    position: relative;
}

.header .area-logged .has-notify::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #F00;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.header .area-login .about {
    font-weight: bold;
    font-size: 12px;
    color: #6F8AE4;
}

.header .area-login .user {
    margin-left: 30px;
    margin-right: 16px;
}

.register-method .btn-register:hover {
    color: #FFFFFF;
}

.register-method .sk-btn:hover {
    color: #FFFFFF;
}

@media (max-width: 767.98px) {
    .header {
        padding: 18px 0px;
        flex-wrap: wrap;
        height: 60px;
    }

    .header .logo {
        width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
    }
}

/* app*/
.bg-app {
    position: relative;
    height: 280px;
    overflow: hidden;
    background: #FFFFFF !important;
}

.bg-app .container {
    width: 100% !important;
}

.bg-app .bg-app-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.17em;
    color: #6F8AE4;
    margin-top: 60px;
}

.bg-app .description {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line;
}

.bg-app .note {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #999999;
}

.bg-app .image {
    position: relative;
    width: 200px;
    height: 406px;
    box-shadow: -12px 20px 30px rgba(111, 138, 228, 0.15);
}

.bg-app .image-1 {
    width: 200px;
    height: auto;
    top: -160px;
    right: 200px;
}

.bg-app .image-2 {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: -28px;
    right: 26px;
}

.bg-app .message {
    background: #FFCD0B;
    border: 1px solid #FFCD0B;
    border-radius: 10px;
    height: 42px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 10px;
}

.bg-app .message::after {
    content: "";
    display: inline-block;
    background: #FFCD0B;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 10px;
    height: 10px;
    position: absolute;
    right: -6px;
    top: 15px;
}

.bg-app .message-1 {
    position: absolute;
    bottom: 80px;
    right: 220px;
}

.bg-app .message-2 {
    position: absolute;
    bottom: 30px;
    right: 220px;
}

.bg-app .circle-yellow {
    position: absolute;
    background: #FFCD0B;
    opacity: 0.6;
    border-radius: 50%;
}

.bg-app .circle-yellow.xl {
    top: -13.04%;
    left: 6.56%;
    width: 72px;
    height: 72px;
}

.bg-app .circle-yellow.md {
    top: 3.99%;
    left: 52.34%;
    width: 36px;
    height: 36px;
}

.bg-app .circle-yellow.sm {
    top: 87.32%;
    left: 29.61%;
    width: 14px;
    height: 14px;
}


.bg-app .circle-blue {
    position: absolute;
    background: #6F8AE4;
    opacity: 0.3;
    border-radius: 50%;
}

.bg-app .circle-blue.xxl {
    bottom: -42.03%;
    left: -6.09%;
    width: 231px;
    height: 231px;
}

.bg-app .circle-blue.xl {
    top: -31.88%;
    left: 44.14%;
    width: 135px;
    height: 135px;
}

.bg-app .circle-blue-grid {
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    background-color: #fff;

}

.bg-app .circle-blue-grid.xxl {
    top: -39.86%;
    right: -3.44%;
    width: 277px;
    height: 277px;
    background-image: repeating-linear-gradient(-65deg, rgba(111, 138, 228, 0.4), rgba(111, 138, 228, 0.3) 5px, transparent 5px, transparent 10px);
}

.bg-app .circle-blue-grid.md {
    left: 33.59%;
    bottom: 10.14%;
    width: 51px;
    height: 51px;
    background-image: repeating-linear-gradient(-65deg, rgba(111, 138, 228, 0.4), rgba(111, 138, 228, 0.3) 3px, transparent 3px, transparent 6px);
}

@media (min-width: 769px) and (max-width: 1280px) {
    .bg-app .container {
        width: calc(100% - 265px) !important;
    }
}

@media (max-width: 767.98px) {
    .bg-app {
        height: 431px;
    }

    .bg-app .image {
        width: 0px;
        height: 214px;
    }

    .bg-app .image-1 {
        width: 105px;
        height: auto;
        right: 160px;
        top: 95%;
    }

    .bg-app .image-2 {
        width: 105px;
        height: auto;
        bottom: -130%;
        right: -20px;
    }

    .bg-app .bg-app-title {
        font-size: 25px;
        line-height: 30px;
        margin-top: 50px;
        letter-spacing: 0.3em;
        width: 75%;
    }

    .bg-app .description {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        white-space: pre-line;
    }

    .bg-app .note {
        font-size: 11px;
        line-height: 167.8%;
        width: 53%;
    }

    .bg-app .message {
        height: 35px;
        font-size: 11px;
        line-height: 18px;
        padding: 9px 3px;
    }

    .bg-app .message::after {
        right: -6px;
        top: 11px;
    }

    .bg-app .message-1 {
        right: 42%;
        bottom: -56px;
        z-index: 1;
    }

    .bg-app .message-2 {
        right: 42%;
        bottom: -99px;
        z-index: 1;
    }

    .bg-app .circle-blue.xl {
        width: 112px;
        height: 112px;
        left: 11.31%;
        top: -13.91%;
    }

    .bg-app .circle-blue.xxl {
        bottom: -6%;
        left: -6%;
        width: 144px;
        height: 144px;
    }

    .bg-app .circle-blue-grid.xxl {
        right: -20%;
        top: -19%;
        width: 233px;
        height: 233px;
    }

    .bg-app .circle-blue-grid.md {
        left: 30%;
        bottom: 100px;
        width: 42px;
        height: 42px;
    }

    .bg-app .circle-yellow.md {
        top: 4%;
        left: 36%;
        width: 29px;
        height: 30px;
    }

    .bg-app .circle-yellow.sm {
        top: 75%;
        left: 29.61%;
        width: 12px;
        height: 12px;
        z-index: 1;
    }

}

@media (max-width: 320px) {
    .bg-app .bg-app-title {
        width: 85%;
    }

    .bg-app .message {
        font-size: 7px;
    }

    .bg-app .message-1 {
        right: 36%;
        bottom: -55px;
    }

    .bg-app .message-2 {
        right: 36%;
        bottom: -100px;
    }

    .bg-app .image-1 {
        right: 120px;
    }

    .hp-login .btn:nth-child(1) {
        margin: 0px 0px 10px 0px !important;
    }
}

/* footer */
.footer {
    border: 1px solid #E9EBF1;
}

.footer .container {
    width: 100% !important;
}

.footer .copy-right {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: 20px;
}

.footer .go-top {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 48px;
}

.footer .go-top .text {
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
}

.footer .icon img {
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 7px;
}

.footer-top {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    padding-top: 17px;
    padding-bottom: 18px;
    position: relative;
}

.footer-top .item {
    display: flex;
    flex-flow: row;
}

.footer-top .about {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #333333;
}

.footer-top .login a {
    color: #6F8AE4;
}

.footer-top .area-login {
    display: flex;
    margin-left: 40px;
    font-weight: bold;
    font-size: 14px;
}

.footer-top .area-login a {
    color: #6F8AE4;
}

.footer-top .area-login div:first-child {
    padding-right: 40px;
    position: relative;
}

.footer-top .area-login div:first-child::after {
    content: "|";
    right: 0px;
    top: -2px;
    position: absolute;
    color: #6F8AE4;
}

.footer-top .area-login div:last-child {
    padding-left: 40px;
}

.footer-bottom {
    background: #6F8AE4;
}

.footer-bottom .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom-nav {
    list-style: none;
    display: flex;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 21px;
    margin-bottom: 0;
}

.footer-bottom a {
    color: #FFF;
    padding: 0px 1.75rem;
    font-weight: bold;
    font-size: 12px;
}

.footer-bottom-nav .nav-item:first-child .sk-nav-link {
    padding-left: 0;
}

.footer-bottom-nav .nav-item:last-child .sk-nav-link::after {
    content: "";
}

.footer-bottom-nav .nav-item .sk-nav-link {
    position: relative;
}

.footer-bottom-nav .nav-item .sk-nav-link::after {
    content: "|";
    right: 0px;
    position: absolute;
    bottom: -2px;
}

.footer-bottom .logo-footer {
    width: 63px;
    height: 52px;
}

.footer-bottom .logo-footer img {
    width: 100%;
    height: auto;
}

@media (max-width: 767.98px) {
    .footer {
        position: relative;
    }

    .footer-bottom-nav .nav-item .sk-nav-link {
        padding-left: 0;
    }

    .footer-bottom-nav .nav-item .sk-nav-link::after {
        content: "";
    }

    .footer-top {
        position: unset;
    }

    .footer-top .item {
        display: flex;
        flex-flow: column;
    }

    .footer-top .area-login {
        display: block;
        margin-left: 0px;
    }

    .footer-top .area-login div:first-child::after {
        content: none;
    }

    .footer-top .area-login div:last-child {
        padding-left: 0px;
    }

    .footer-top .area-login a {
        line-height: 25px;
    }

    .footer-bottom .item {
        display: inline-block;
        position: relative;
    }

    .footer-bottom-nav {
        flex-flow: column;
    }

    .footer .copy-right {
        text-align: center;
    }

    .footer-bottom .logo-footer {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .footer .go-top {
        z-index: 1000000;
        bottom: 20px;
        right: 30px;
    }

    .footer-top .go-top .icon {
        margin-bottom: 0px !important;
    }
}

/*ç™»éŒ²æ–¹æ³•*/
.register-method {
    background: #E9EDFA;
    text-align: center;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.register-method .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    white-space: unset;
}
.register-method .btn-register {
    margin: 50px 0px 20px 0px;
}
.register-method .about-remote-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #6F8AE4;
    position: absolute;
    bottom: 30px;
    right: 200px;
}

@media screen and (max-width: 576px) {
    .register-method {
        padding-bottom: 80px;
    }
    .register-method .title {
        padding: 0px 10px;
        white-space: pre-line;
    }
    .register-method .about-remote-link {
        bottom: 20px;
        right: 20px;
        font-size: 15px;
        line-height: 22px;
    }
}